#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.record-text {
  color: white;
  margin-top:10px; /* Cambia esto al color que desees para "Record" */
}

.pistas-text {
  color: white; /* Cambia esto al color que desees para "Pistas" */
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #242424;
}

.pokemon-image {
  width: 300px;
  height: auto;
}

.submit-button {
  margin-left: 10px;  /* Ajusta este valor para cambiar el espacio */
}

.header-link {
  color: #554f78;
  text-decoration: none;
}

.button-disabled {
  background-color: grey !important;
  cursor: not-allowed !important;
}

.modal {
  background-color: #646cffaa; /* Cambia esto al color que quieras */
  padding: 20px;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;/* Cambia el color del texto a blanco para que sea visible contra el fondo oscuro */
}

.hidden {
  display: none;
  background-color: #242424;
}

.close {
  margin-top: auto;
}

.record-container {
  display: flex;
  justify-content: space-between; /* Añade espacio entre el párrafo y la imagen */
}
.medalla{
  margin-left: 30px;
  margin-bottom: 10px;
}
.info-button{
  margin-top:10px;
}

.recordText{
  margin-top:10px;
}

body.popup-open {
  background-color: #242424;
  opacity: 0.5;
}